<%= simple_nested_form_for(@turma) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.simple_fields_for :aulas  %>
    <%= f.link_to_add "Adicionar matéria", :aulas  %> 
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>