<h1>Relação de turmas</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @turmas.each do |turma| %>
  <tr>
    <td><%= turma.nome %></td>
    <td><%= link_to 'Exibir', turma %></td>
    <td><%= link_to 'Alterar', edit_turma_path(turma) %></td>
    <td><%= link_to 'Excluir', turma, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar turma', new_turma_path %>
