<h1>Listing professores</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @professores.each do |professor| %>
    <tr>
      <td><%= professor.nome %></td>
      <td><%= link_to 'Show', professor %></td>
      <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
      <td><%= link_to 'Destroy', professor, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= form_tag nil, :method => 'get', :id => "form_filter" do %>
  <h3>Filtrar relatório de professores:</h3>
  <%= select_tag :filtro, options_for_select(["Por professor", "Por turma"], @opcao_filtro), :id => "filter" %>
  <%#= submit_tag "Filtrar" %>
<% end %>

<% if @opcao_filtro == "Por turma" %>
<% @professores_turmas.each do |turma| %>
  <br />
  <h2><%= turma.nome %></h2>
  <table>
    <tr>
      <th>Professores</th>
      <th>Matérias</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% turma.aulas.each do |aula| %>
      <tr>
        <td><%= aula.professor.nome %></td>
        <td><%= aula.materia.nome %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<% end %>

<br />
<% if @opcao_filtro == "Por professor" %>
<h1> Por prof</h1>
<% @professores_materia.each do |prof| %>
  <br />
  <h2><%= prof.nome %></h2>
  <table>
    <tr>
      <th>Turma</th>
      <th>Matérias</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% prof.aulas.each do |aula| %>
      <tr>
        <td><%= aula.turma.nome %></td>
        <td><%= aula.materia.nome %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<% end %>

<br />

<%= link_to 'New Professor', new_professor_path %>
